
{% extends 'base.html'%}
{% block title %}Opt-Out Watcher{% endblock %}

{% block content %}

<h1>Receber Notificações via e-mail</h1>
<div class="row col-md-12">
	<p>
        Olá. Para receber notificações das mudanças de operação no sistema
        anchieta/imigrantes, informe seu e-mail abaixo.
	</p>
</div>

<div class="row col-md-12">
    <form method="POST" class="post-form" enctype="multipart/form-data">  
            {% csrf_token %}  
            {{ form.as_p }}
            <button type="submit" class="save btn btn-primary">Enviar</button>  
    </form>  
</div>

{% endblock %}

